
/* My CSS for Page effects */

body{
    background-color: rgb(0, 0, 0);
}
    /* My CSS for Text */
h1{ 
    text-align: center;
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal;
    
}
h2{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h3{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h4{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h5{ 
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h6{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
p{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
.link{ 
        color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h4{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h5{ 
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
h6{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
p{ 
    color: #00FF73;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}
.link{ 
    text-align: center;
    font-family: 'Press Start 2P', sans-serif; font-weight: normal
}

.talking{
    text-align: center;
}
